@font-face {
  font-family: 'Futura Book';
  src: url('futura-book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bembo STD';
  src: url('bsr.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
